@font-face {
  font-family: Titilium;
  font-weight: normal;
  src: url('../fonts/TitilliumWeb-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Titilium;
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/TitilliumWeb-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Titilium;
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/TitilliumWeb-SemiBoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Titilium;
  font-weight: 500;
  src: url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Titilium;
  font-weight: 700;
  src: url('../fonts/TitilliumWeb-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url('../fonts/Inter-Light-slnt=0.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url('../fonts/Inter-Bold-slnt=0.woff2') format('woff2');
  font-display: swap;
}
