@font-face {
  font-family: Titilium;
  font-weight: normal;
  src: url('../fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
  font-family: Titilium;
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/TitilliumWeb-Italic.ttf');
}

@font-face {
  font-family: Titilium;
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/TitilliumWeb-SemiBoldItalic.ttf');
}

@font-face {
  font-family: Titilium;
  font-weight: 500;
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

@font-face {
  font-family: Titilium;
  font-weight: 700;
  src: url('../fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url('../fonts/Inter-Light-slnt=0.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url('../fonts/Inter-Bold-slnt=0.ttf');
}
